<ion-header>
  <ion-toolbar>
    <ion-title><img class="logo-img" src="assets/img/logo-admin.png" alt="YouNeed"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding overflow-scroll="false">
      <ion-list>
        <ion-item-group fill="outline" color="default" *ngFor="let pedido of pedidos">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>PEDIDO</ion-card-subtitle>
                <ion-card-title>{{ pedido.id }}</ion-card-title>
              </ion-card-header>
            <ion-card-content>
              <ion-item>
                  <ion-label>Nombre</ion-label>
                  <ion-note slot="end" color="dark">{{ pedido.razon_social }}</ion-note>
              </ion-item>
              <ion-item>
                  <ion-label>Ubicación</ion-label>
                  <ion-button fill="solid" slot="end" color="success" (click)="verUbicacion()">Ver Ubicacion</ion-button>
              </ion-item>
              <ion-item>
                  <ion-label>Valor</ion-label>
                  <ion-note slot="end" color="primary">{{ pedido.total }}</ion-note>
              </ion-item>
              <ion-item>
                  <ion-label>Estado</ion-label>
                  <!-- <ion-note slot="end" color="primary">{{ pedido.estado }}</ion-note> -->
                  <ion-note slot="end" color="primary"></ion-note>
              </ion-item>
              <ion-item>
                <ion-button *ngIf="pedido.estado == 0" fill="solid" size="default" color="primary" (click)="aceptarPedido()">Aceptar</ion-button>
                <ion-button *ngIf="pedido.estado == 1" fill="solid" size="default" color="warning" (click)="ejecutarPedido()">Ejecutar</ion-button>
                <ion-button fill="solid" size="default" color="danger" (click)="rechazarPedido()">Rechazar</ion-button>
              </ion-item>
            </ion-card-content>
        </ion-card>
        </ion-item-group>
      </ion-list>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text >{{ scrollmsg }}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>

<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/pedidos" tab="pedidos">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Pedidos</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/mapa">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/notificaciones" tab="notificaciones">
        <ion-icon name="notifications"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/perfil" tab="perfil">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>